/* A4 has size 210 mm x 297 mm */
@media all {

    #main {
        position: absolute;
        top: 15mm;
        left: 20mm;
        width: 175mm;
        height: 267mm;
        padding: 0;
        margin: 0;
        border: none;

    }
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Verdana, Helvetica;
    font-size: 12px;
}
h1 {
    margin-bottom:30px;
    text-align:center;
    font-size:120%;
}

.auswertung_head {
    font-weight: bold;
}
}
