.auswertung_item {
    border: 1px solid black;
    margin-bottom: 5px;
    width: 800px;
}
.auswertung_item form {
    margin: 0;
    padding: 0;
    display: inline;
}
.auswertung_item input[type=submit] {
    margin: 0;
}
.speise_name {
    display: inline-block;
    width: 200px;
    padding: 5px;
}
.bestellmenge {
    display: inline-block;
    width: 100px;
    text-align: right;
}
.lagerstand {
    display: inline-block;
    width: 100px;
    text-align: right;
}
.lagerdiff {
    display: inline-block;
    width: 100px;
    text-align: right;
}
.bestellungen ul {
    padding: 5px 5px 5px 30px;
    border-top: 1px dotted gray;
}
.bestellungen ul li {
    position: relative;
    min-height: 25px;
}
.konsumationszeitpunkt {
    display: inline-block;
    width: 50px;
}
.benutzer {
    display: inline-block;
}
.bcontrols {
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
}
.bestaetigen {
    display: inline-block;
    width: 80px;
}
.stornieren {
    display: inline-block;
    width: 90px;
}
