.listitem.speiseitem {
    width: 800px;
    height: 110px;
    position: relative;
}
.listitem.speiseitem.headitem {
    height: 60px;
    font-weight: bold;
}
.bild {
    position: absolute;
    left: 5px;
    top: 5px;
    width: 100px;
    height: 100px;
}
.name {
    position: absolute;
    left: 110px;
    top: 5px;
    width: 300px;
    height: 30px;
}
.lagerstand {
    position: absolute;
    left: 420px;
    top: 5px;
    width: 250px;
    height: 30px;
}
.preis {
    position: absolute;
    left: 110px;
    top: 40px;
    width: 300px;
    height: 30px;
}
.im_sortiment {
    position: absolute;
    left: 420px;
    top: 40px;
    width: 250px;
    height: 30px;
}
.controls {
    position: absolute;
    top: 5px;
    left: 680px;
    width: 120px;
    height: 100px;
    padding-left: 5px;
    border-left: 1px dotted gray;
}
