.listitem.speiseitem {
    width: 800px;
    height: 100px;
    position: relative;
    
}
.listitem.speiseitem.headitem {
    margin-top:30px;
    height: 60px;
    font-weight: bold;
}
.bild {
    position: absolute;
    left: 5px;
    top: 20px;
    width: 90px;
    height: 90px;
}
.bild img {
    max-height: 90px;
    max-width: 90px;
}
.name {
    position: absolute;
    left: 120px;
    top: 10px;
    width: 350px;
    height: 30px;
    
}
.name a{
	font-size:115%;
	font-weight: bold;
}
.lagerstand {
    position: absolute;
    left: 500px;
    top: 20px;
    width: 250px;
    height: 30px;
}
.preis {
    position: absolute;
    left: 130px;
    top: 50px;
    width: 300px;
    height: 30px;
}
.im_sortiment {
    position: absolute;
    left: 500px;
    top: 60px;
    width: 250px;
    height: 30px;
}
.controls {
    position: absolute;
    top: 5px;
    left: 680px;
    width: 120px;
    height: 100px;
    padding-left: 5px;
    border-left: 1px dotted gray;
}

.buttonlink {
	margin: 10px 0px 100px 20px;
}
h2 {
	float:left;
	margin-bottom:30px;
}
#speisenliste {
	margin-top:20px;
}