#main {
    text-align: center;
}
table {
    text-align: left;
}
h1 {
    text-align: left;
    margin-top: 20px;
}
.summe td {
    border-top: 2px solid black;
}
.preis {
    text-align: right;
}
.summe {
    text-align: right;
    font-weight: bold;
}
#bestaetigen {

}
.weitere_speisen {
    font-size: 130%;
}
#bestellungen tbody:nth-child(even) tr {
    background: white;
}
#bestellungen tbody:nth-child(odd) tr {
    background: #F7E6CE;
}
#bestellungen tbody:hover tr {
    background: #D5C4AD;
}
