#main {
    text-align: center;
}
table {
    text-align: left;
}
h1 {
    text-align: left;
    margin-top: 20px;
}
.summe td {
    border-top: 2px solid black;
}
.preis {
    text-align: right;
}
.summe {
    text-align: right;
    font-weight: bold;
}
#bestaetigen {

}
input[type=submit] {
	color: black;
    border-color: #747474;
    border-width: 1px;
    border-style: solid;
    background: #F7E6CE;
    text-align: center;
    margin: 10px;
    margin-top: 20px;
    margin: 10px;
    height: 24px;
    padding: 2px 4px 4px 4px;
}
input[type=submit]:hover {
    background: #D5C4AD;
    color: black;
}

.weitere_speisen {
    font-size: 130%;
}
#bestellungen tbody:nth-child(even) tr {
    background: white;
}
#bestellungen tbody:nth-child(odd) tr {
    background: #F7E6CE;
}
#bestellungen tbody:hover tr {
    background: #D5C4AD;
}
#bestellungen form {
    margin: 0;
    padding: 0;
}
#bestellungen input[type=submit] {
    margin: 0;
}
#vorgemerkt input[type=submit] {
	margin:0px;
}

select:hover {
    border-color: #747474;
    background: transparent;
}
