<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <typeAlias alias="Benutzer" type="com.github.lang.easylunch.domain.Benutzer"/>
        <typeAlias alias="Bild" type="com.github.lang.easylunch.domain.Bild"/>
        <typeAlias alias="Speise" type="com.github.lang.easylunch.domain.Speise"/>
         <typeAlias alias="Bestellung" type="com.github.lang.easylunch.domain.Bestellung"/>
    </typeAliases>
</configuration>
