<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.lang.easylunch.persistence.BenutzerMapper">

    <select id="findById" parameterType="long" resultType="Benutzer">
        select * from benutzer where id = #{id}
    </select>

    <select id="findByBenutzername" parameterType="String" resultType="Benutzer">
        select * from benutzer where benutzername = #{benutzername}
    </select>

    <select id="findAll" parameterType="long" resultType="Benutzer">
        select * from benutzer order by benutzername
    </select>

    <insert id="save" parameterType="Benutzer" useGeneratedKeys="true" keyProperty="id">
        insert into benutzer (benutzername, password_hash, password_salt,
                              aktiv, personal_nummer, titel, vorname,
                              nachname, ist_mitarbeiter,
                              ist_verwaltung, ist_gast)
                      values (#{benutzername}, #{passwordHash}, #{passwordSalt},
                              #{aktiv}, #{personalNummer}, #{titel}, #{vorname},
                              #{nachname}, #{istMitarbeiter},
                              #{istVerwaltung}, #{istGast})
    </insert>

    <update id="update" parameterType="Benutzer">
        update benutzer set benutzername = #{benutzername},
                            password_hash = #{passwordHash},
                            password_salt = #{passwordSalt},
                            aktiv = #{aktiv},
                            personal_nummer = #{personalNummer},
                            titel = #{titel},
                            vorname = #{vorname},
                            nachname = #{nachname},
                            ist_mitarbeiter = #{istMitarbeiter},
                            ist_verwaltung = #{istVerwaltung},
                            ist_gast = #{istGast}
                        where id = #{id}
    </update>

    <delete id="deleteById" parameterType="long">
        delete from Benutzer where id = #{id}
    </delete>

</mapper>
