<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.lang.easylunch.persistence.BestellungMapper">

    <select id="getById" parameterType="long" resultType="Bestellung">
        select * from bestellung where id = #{id}
    </select>

    <select id="findAll" parameterType="long" resultType="Bestellung">
        select * from bestellung order by ausgabezeitpunkt
    </select>

    <select id="findAllByBenutzerAfterDate" parameterType="map" resultType="Bestellung">
        select * from bestellung
                 where benutzer_id = #{benutzerId}
                       and konsumationszeitpunkt &gt; #{date}
                 order by konsumationszeitpunkt
    </select>

    <insert id="save" parameterType="Bestellung" useGeneratedKeys="true" keyProperty="id">
        insert into bestellung (konsumationszeitpunkt, ausgabezeitpunkt,
                                ausgabepreis, storniert, bestätigt, benutzer_id, speise_id)
                        values (#{konsumationszeitpunkt}, #{ausgabezeitpunkt}, #{ausgabepreis}, 
                                #{storniert}, #{bestaetigt}, #{benutzerId}, #{speiseId})
    </insert>

    <update id="update" parameterType="Bestellung">
        update bestellung set konsumationszeitpunkt = #{konsumationszeitpunkt},
                              ausgabezeitpunkt = #{ausgabezeitpunkt},
                              ausgabepreis = #{ausgabepreis},
                              storniert = #{storniert},
                              bestätigt = #{bestaetigt},
                              benutzer_id = #{benutzerId},
                              speise_id = #{speiseId},
                        where id = #{id}
    </update>

    <delete id="deleteById" parameterType="long">
        delete from bestellung where id = #{id}
    </delete>

</mapper>
