<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.lang.easylunch.persistence.SpeiseMapper">

    <select id="getById" parameterType="long" resultType="Speise">
        select * from speise where id = #{id}
    </select>

    <select id="findAll" parameterType="long" resultType="Speise">
        select * from speise order by name
    </select>

    <insert id="save" parameterType="Speise" useGeneratedKeys="true" keyProperty="id">
        insert into speise (name, beschreibung, art,
                            bild_id, im_sortiment_ab, im_sortiment_bis,
                            preis, lagerstand)
                    values (#{name}, #{beschreibung}, #{art},
                            #{bildId}, #{imSortimentAb}, #{imSortimentBis},
                            #{preis}, #{lagerstand})
    </insert>

    <update id="updateBasicDetails" parameterType="Speise">
        update speise set name = #{name},
                          beschreibung = #{beschreibung},
                          art = #{art},
                          im_sortiment_ab = #{imSortimentAb},
                          im_sortiment_bis = #{imSortimentBis},
                          preis = #{preis},
                          lagerstand = #{lagerstand}
                      where id = #{id}
    </update>

    <delete id="deleteById" parameterType="long">
        delete from speise where id = #{id}
    </delete>

</mapper>
